<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todo App</a>
  </div>
</nav>
<div class="container mt-3">
  <h3>Todos</h3>
  <hr>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" formControlName="descricao">
      </div>
      <div class="col-md-2">
        <button class="btn btn btn-primary" type="submit">Add</button>
      </div>
    </div>
  </form>
  <hr>
  <div class="row">
    <div class="col-md-7">
      <ul class="list-group">
        <li *ngFor="let todo of todos" class="list-group-item d-flex justify-content-between align-items-center">
           <span class="{{ todo.feito ? 'done': ''}}">
             {{ todo.descricao }} {{ todo.dataConclucao }}
           </span>
          <div class="btn-group">
            <button (click)="feito(todo)"
                    class=" btn btn-success" [disabled]="todo.feito">Feito
            </button>
            <button (click)="delete(todo)" class="btn btn-danger">Deletar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>